<!-- a page for movies-->

<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine Manager | Movies</title>

    <!-- css file -->
    <!-- <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <link rel="stylesheet" href="{% static 'css/new_movie_form.css'%}"> -->
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- js file -->
    <!-- <script src="{% static 'js/popup.js'%}"></script> -->
</head>
<body>
    <div class="container">
        <div class="container__content">
            <!-- sidebar element -->
            <div class="content__sidebar">
                <h3 class="sidebar__page-title">Cine Manager</h3>
                <div class="sidebar__bottom-element">
                    <h5>Last added</h5>
                    <div class="sidebar-wrapper">
                        <div class="sidebar-wrapper__card">
                            <img src="../static/img/sinners.jpeg" alt="">
                            <div class="card__info">
                                <h4>Sinners</h4>
                            </div>
                        </div>
                        <div class="sidebar-wrapper__card">
                            <img src="../static/img/sinners.jpeg" alt="">
                            <div class="card__info">
                                <h4>Sinners</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main content -->
            <iframe src="./app.html" frameborder="0" width="100%" height="100%"></iframe>
        </div>
    </div>
</body>