/* a css flile form sales html file */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --principal-color : #18191e;
    --primary-color: #d71a22;
    --secondary-color: white;
    --tertiary-color: #141519;
    --latest-color: #2e3337;
    --hover-primary: #FF4500;
    --neutral-color: rgba(255, 255, 255, 0.5); 
}

body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0;
}

.content__main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 40px;
    padding: 20px 15px;
}

.main-content__head-element {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.head-element__log-out {
    background-color: var(--neutral-color);

    &:hover {
        background-color: var(--secondary-color);
    }
}

.head-element__add-movie {
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--hover-primary);
    }
}

.main-content__top-element {
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top-element__image-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-wrapper__left-corner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 20%;
    /* height: 10%; */
    padding: 20px 10px;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
}

.image-wrapper__left-corner svg {
    width: 24px;
    height: 24px;
}

.left-corner__head-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.head-block__more-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    opacity: 0.8;
}

.image-wrapper__image {
    /* height: 100%; */
    width: 100%;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
}

.main-content__main-element {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-element__element-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
}

.element-wrapper__card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.card__infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: black;
    padding: 8px 10px;
}

.card__infos-more {
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.infos-more__infos {
    display: flex;
    flex-direction: row;
}

.infos-more__icons {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

iframe {
    border-radius: 10px;
    /* Pour afficher la scrollbar si besoin */
    overflow: auto;
    scrollbar-width: thin;              /* Firefox */
    scrollbar-color: #d71a22 #2e3337;   /* Firefox */
}

/* Chrome, Edge, Safari */
iframe::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background: #2e3337;
}

iframe::-webkit-scrollbar-thumb {
    background: #d71a22;
    border-radius: 10px;
}

iframe::-webkit-scrollbar-thumb:hover {
    background: #FF4500;
}