@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --principal-color : #18191e;
    --primary-color: #d71a22;
    --secondary-color: white;
    --tertiary-color: #141519;
    --latest-color: #2e3337;
}

body {
    width: 100%;
    color: var(--secondary-color);
}

p {
    margin-top: 15px;
}

svg {
    height: 16px;
    width: 16px;
}

h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
}

span {
    display: block;
}

/* input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--hover-color);

    &:hover {
        transition: 0.3s;
    }
} */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--hover-color);
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 14px;

    &:hover {
        transition: 0.3s;
        cursor: pointer;
    }
}